<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/Icons/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Style/style.css" type="text/css">
    
</head>
<body>
    <div class="container">
        <h2 style="color: white;">Admin Dashboard</h2>
        <img class="user-img" src="/Images/user.png" alt="not found">
        <a class="btn-index" href="/main">Add Student</a>
        <a class="btn-index" href="/welcome">Show Student</a>
    </div>

    <script src="/Script/script.js">

    </script>
</body>
</html>