<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/Icons/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/Style/style.css" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Add Student</h1>
        <img class="user-img" src="Images/user.png" alt="not found">
        <form action="/main" method="POST" class="form">
            <label for="fullName">Full Name</label>
            <input type="text" name="fullName" required />
        
            <label for="age">Age</label>
            <input type="number" name="age" required />
        
            <button type="submit">Add Student</button>
        </form>
        
    </div>

    <script src="/Script/script.js">

    </script>
</body>
</html>